@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Inter:wght@400;600;700&display=swap');
body {
    height: 100%;
    width: 100%;
    margin: 0;
    color: rgb(223, 223, 223);
    font-family: 'Inter', sans-serif;
    background-color: #333333;
}
.logo img{
    margin-top: 27px;
}  

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 30px -10px rgb(248, 181, 5);
    height: 65px;
}


header ul {
    display: flex;
    justify-content: space-around;
    width: 350px;
    list-style-type: none;
    color: rgb(223, 223, 223);
    margin-right: 135px;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-content {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 50px 115px;
}

.lista-bonecos {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 0;
}
figure {
    width: 298px;
    height: 200px;
    border-radius: 7px 7px 0px 0px;
}
.card {
    display: flex;
    flex-direction: column;
    max-width: 296px;
    border-radius: 7px;
}

.card figure {
    align-self: center;
    background-color: rgb(223, 223, 223);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.card figcaption {
    display: none;
}

.card section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 296px;
    padding: 0 10px 20px 10px;
}

.card .category {
    background-color: rgb(156, 112, 1);
    color: rgb(223, 223, 223);;
    padding: 5px 6px;
    box-shadow: 1px 1px 2px 2px rgb(156, 112, 1);
    border-radius: 2px;
}

.font-small-size {
    font-size: 14px;
}


aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-box {
    display: flex;
    justify-content: space-between;
    width: 347px;
    height: 50px;
    border-radius: 8px;
}

.search-box input {
    background-color: #fff;
    width: 246px;

}

.search-box button {
    background-color: rgb(248, 181, 5);
    color: white;
    width: 96px;
}

.shopping-cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.shopping-cart h3 {
    background-color: rgb(248, 181, 5);
    color: white;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
}

.shopping-cart-inside {
    width: 100%;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    min-height: 214px;
    max-height: 260px;
    background-color: #fff;
    overflow: auto;

}

#box-aviso {
    height: 100%;
    display: flex;
    color: #333333;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box-aviso h4,
#box-aviso p {
    margin: 10px 0;
}


a:hover {
    color: #f8b505;
    font-weight: bold;

}

.card:hover {
    border: 1px solid rgb(156, 112, 1);
}

.esconder {
    display: none;
}

.card-carrinho {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 20px;
    border: 1px solid #fff;
}

.card-carrinho figure {
    margin: 0 20px 0 0;
    width: 90px;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-carrinho img {
    width: 50px;
}

.card-carrinho div {
    height: 100%;
    display: flex;
    color: #333333;
    flex-direction: column;
    justify-content: space-around;
}

.card-carrinho div a,
.card-carrinho div h4,
.card-carrinho div p {
    margin: 0;
    font-size: 14px;
}

#sum-box {
    width: 100%;
    height: 126px;
    background-color: #333333;
    color: white;
}

#sum-box ul {
    padding: 0 40px;
}

#sum-box ul li {
    display: flex;
    justify-content: space-between;
}

.card-carrinho:hover{
    border: 1px solid #333333;
}